:root{
    --card-size:20vw;
}
.PurchaseCard {
    height: 55vh;
    background-color: #ffffff;
    border: thin solid #dddddd;

    border-radius: 20px 20px 5px 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    overflow: hidden;
}
.PurchaseCard:hover{
    border: 2px solid #009897;
    transition: 0.1s;

    cursor: pointer;
}
.PurchaseCard .article-image{
    margin: 0;
    padding: 0;
}
.PurchaseCard .article-image img {
    width: var(--card-size);
}
.PurchaseCard .article-content{
    max-width: calc(var(--card-size) - 4vw);
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}
.PurchaseCard h5{
    font-size: 1rem;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: #009897;
}
.PurchaseCard p{
    margin-bottom: 8px;
}
.PurchaseCard h4{
    margin-top: 0;
}