@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Noto+Sans+Hebrew:wght@800&family=Open+Sans&family=Roboto&display=swap');

body{
    direction: rtl;
    margin: 0;
    display: flex;
    flex-direction: column;
    
    
    min-height: 100vh;
    /* font-family: 'Heebo', sans-serif; */
    /* font-family: 'Noto Sans Hebrew', sans-serif; */
    font-family: 'Open Sans', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* -webkeit-font-smoothing: antialiased; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
