.content-table {
    border-collapse: collapse;
    margin: 25px 0px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009897;
    color: #ffffff;
    font-weight: bold;
    text-align: right;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.content-table tbody tr:nth-last-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: medium solid #009897;
}

.content-table > * .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.content-table > * .icon-hover {
    transition: font-variation-settings 0.25s;
    padding: 5px 8px;
}
.content-table > * .icon-hover.edit{
    transition: font-variation-settings 0.25s;
    padding: 5px 8px;
    color:#ffc300;
    font-size: 28px;
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 48
}
.content-table > * .icon-hover.edit:hover{
    transition: font-variation-settings 0.25s;
    cursor: pointer;
    color:#ffc300;
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}
.content-table > * .icon-hover.delete{
    color: #d22b2b;
}
.content-table > * .icon-hover:hover {
    cursor: pointer;
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}